<!doctype html>
<html>
<head>
  <!--Header: Has important site data and imports links to external tools-->
	<title>Mooditude</title>
  <link href="/css/style.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ff34cc79cd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/mood.js"></script>
</head>
<!--All of the displayed content on the webpage is rendered here-->
<body>    
  <!--Home button and navigation-->
  <div class="header float">
    <button class="hbutton" onclick="location.href='html/title.html'"><i class="fas fa-home fa-3x" id="ih"></i></button>
	  <h1 style="text-align:center">How are you feeling?</h1>
  </div>
  <br><br><br><br><br><br>
  <!--All of the form items will be rendered here, but intializing them is taken care of in mood.js-->
  <div class="entry">
    
  </div>
	<br>
  <!--Main navigation buttons, rendered at the bottom of the screen-->
	<button class="button b_right fa-lg" id="btn1"><b>Add </b><i class="fas fa-plus"></i></button>
  <br><br><br><br><br><br><br><br>
  <div class="fas float b_bottom">
    <button class="button b_left fa-lg" onclick="location.href='html/title.html'"><i class="fas fa-arrow-left"></i><b> Back</b></button>
    <button class="button b_right fa-lg" onclick="location.href='html/gratitude.html'"><b>Next </b><i class="fas fa-arrow-right"></i></button>
  </div>
</body>
</html>
