<!doctype html>
<html>
<head>
	<title>Mooditude</title>
  <link href="/css/style.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ff34cc79cd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/mood.js"></script>
</head>
<body>
  <div class="header float">
    <button class="hbutton" onclick="location.href='html/title.html'"><i class="fas fa-home fa-3x" id="ih"></i></button>
	  <h1 style="text-align:center">How are you feeling?</h1>
  </div>
  <br><br><br><br><br><br>
  <div class="entry">
    
  </div>
	<br>
	<button class="button b_right fa-lg" id="btn1"><b>Add </b><i class="fas fa-plus"></i></button>
  <br><br><br><br><br><br><br><br>
  <div class="fas float b_bottom">
    <button class="button b_left fa-lg" onclick="location.href='html/title.html'"><i class="fas fa-arrow-left"></i><b> Back</b></button>
    <button class="button b_right fa-lg" onclick="location.href='html/gratitude.html'"><b>Next </b><i class="fas fa-arrow-right"></i></button>
  </div>
</body>
</html>
