    /*Styling for textareas in index*/
    .lrg_font {
      font-size: x-large;
    }
    /*Styling for logo*/
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
      margin-bottom: 5%;
      width: 45%;
    }
    /*Styling for input form on title screen (will be deprecated when login is replaced)*/
    .input {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      height: 40px;
      width: 375px;
      font-size: xx-large;
    }
    /*Styling for label on the input form on title screen (will be deprecated when login is replaced)*/
    .label {
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: left;
    }
    /*Styling for login container on title screen (will be deprecated when login is replaced)*/
    .login {
      max-width: 40%;
      margin: auto !important;
      font-size: xx-large;
    }
    .fb_login {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    /*Styling for forms on the mood entry screen*/
    .mood {
 		  width: 70%;
  		font-size: 1.5em;
  		text-align: left;
  		border: 1px solid #f7f7f7;
  		resize: none;
  		box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 200px;
		}
    /*For text input in gratitude*/
    .grat {
      width: 90%;
      font-size: 2em;
      box-sizing: border-box;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    label {
      position: absolute;
    }
    /*For time entry in index*/
    .time {
      position: absolute;
      left: 1%;
      top: 45%;
      width: 14%;
      height: 15%;
      border: 0px solid #f7f7f7;
      background-color: #f7f7f7;
      font-size: x-large;
    }
    /*For mood selector in index*/
		.grat_clr {
			position: absolute;
			right: 1%;
			top: 45%;
			width: 14%;
			height: 15%;
			border: 0px solid #f7f7f7;
      background-color: #f7f7f7;
      font-size: x-large;
		}
    /*Generic container object to keep style consistent between different elements*/
		.container {
  		position: relative;
  		background-color: #f7f7f7;
  		border: 5px solid #999;
  		padding: 5px;
  		margin: 5px;
		}
    /*Keeps elements static and "floating" above the page while it's scrolled*/
    .float {
      width: 95%;
      display: block;
      position: fixed;
      z-index: 100;
    }
    /*Generic button style and customization*/
		.button {
			position: absolute;
  		display: inline-block;
  		padding: 10px 25px;
  		font-size: 16px;
  		cursor: pointer;
  		text-align: center;
  		text-decoration: none;
  		outline: none;
  		color: #000;
  		background-color: #aaa;
  		border: none;
  		border-radius: 5px;
  		box-shadow: 4px 4px 7px 2px #999;
		}
		.button:hover {
			background-color: #787878
		}
		.button:active {
  		background-color: #787878;
  		box-shadow: 4px 4px 7px 2px #666;
  		transform: translateY(4px);
		}
    .disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
    /*Button positioning (or really any positioning)*/
    .b_right {
      right: 5%;
    }
    .b_left {
      left: 5%;
    }
    .b_top {
      top: 5%
    }
    .b_nav {
      position: absolute;
      top: 35%;
      border: none;
      background-color: white;
      display: block;
    }
    .b_bottom {
      bottom: 5%;
    }
    .b_center {
      left: 41%;
    }
    /*Renders icons correctly*/
    .fas option {
      font-weight: 900;
    }
    /*Side settings screen styling*/
    .clr_chng {
      transition: background-color .5s;
    }
    .sideset {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 999;
      top: 0;
      right: 0;
      background-color: #fff;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    .sideset a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .sideset .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 75px;
      margin-left: 50px;
    }
    #main {
      transition: margin-left .5s;
      padding: 16px;
    }
    @media screen and (max-height: 450px) {
      .sideset {padding-top: 15px;}
      .sideset a {font-size: 18px;}
    }
    /*Style the theme selector in the off canvas menu*/
    .themeselector {
      left: 25px;
      width: 90%;
      border: 1px solid #f7f7f7;
      background-color: #f7f7f7;
      font-size: xx-large;
    }
    /*Style the color bubbles in the settings page*/
    .themelabel {
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 5px;
      font-size: xx-large;
    }